 <div class ="col-6">
   <div class="form-floating mb-3">
   <input type="text" class="form-control" id="floatingInput" value="{{this.firat_name}}"placeholder="first name" name="first_name">
   <label for="floatingInput">first name</label>
    </div>
    </div>

    <div class ="col-6">
   <div class="form-floating mb-3">
   <input type="text" class="form-control" id="floatingInput" value="{{this.last_name}}" placeholder="last name" name="last_name">
   <label for="floatingInput">last name </label>
    </div>
    </div>
     <div class ="col-6">
   <div class="form-floating mb-3">
   <div class="form-floating mb-3">
   <input type="text" class="form-control" id="floatingInput" value="{{this.email}}"placeholder="email@gmail.com"  name="email">
   <label for="floatingInput">email </label>
    </div>
    </div>
    <div class ="col-12">
   <div class="form-floating mb-3">
   <input type="text" class="form-control" id="floatingInput" value="{{this.education}}"placeholder="education"name="education">
   <label for="floatingInput">education </label>
   </div>
    </div>
   <div class ="col-12 ">
   <div class="form-floating mb-3">
   <textarea class="form-control" id="floatingInput"placeholder="comments"name="comments"
    style="height: 200px;"{{this.comments}}></textarea>
   <label for="floatingInput">comments </label>
    </div>
    </div>
    <div class ="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Submit</button>
        </div>
